.mainPaper {
    display: flex;
    margin: 60px 10px; 
    flex-direction: column;
    padding: 40px 0px 40px 0px;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    font-weight:700;
}

.formMain {
    display: flex;
    flex-direction: column;
}

.formUpper {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
}

.formLower {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.column1 {
    display: flex;
    flex-direction: column;
}

.column2 {
    display: flex;
    flex-direction: column;
}

.column3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
