.mainPaper {
    display: flex;
    flex-direction: column;
    margin: 20px 10px; 
    padding: 10px 0px 20px 0px;
}

.titleContainer {
    display: flex;
    flex-direction: row;
}

.title {
    font-weight:500;
}

.paperUpper {
    display: flex;
    flex-basis: 100%;
}

.paperLower {
    display: flex;
    justify-content: flex-end;
}

.flightMain {
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
    border: dotted 1px red;
}

.flightBox {
    display: flex;
}

.line {
    border: solid 1px green;
    margin-top: 8px;
}

.pricingMain {
    background-color: rgb(128, 173, 128);
    flex-basis: 35%;
}